
/* ESTILO DE LETRA Y COLOR  DE FONDO PARA EL TITULO PRINCIPAL */ 
p1 {
    color: rgb(226, 4, 4);
    background-color: rgb(117, 15, 219); 
    width: 780px;
    height: 365px;  
    font:  oblique  40pt sans-serif;
    
  }
  
  
  /* ESTILO  COLOR DE FONDO PARA LOS DISTINTOS DIAS Y HORARIOS  */

.exampleone {
    background-color: rgb(175, 223, 120);
    color: rgb(8, 8, 8);

  }
  
.exampleones {   
    background-color: #d1f07d;
    color: rgb(127, 199, 241);
   
  } 

.exampleonese {
    background-color: rgb(108, 243, 214);
    border: 5px solid #7c0ada;
    width: 500px;
    height: 200px;
  } 

.exampleonesen {
    background-color: rgb(122, 225, 243);
    border: 5px solid #7c0ada;
    
  } 

.exampleonen {
    background-color: rgb(231, 131, 17);
    border: 5px solid #7c0ada;
    width: 400px;
    height: 200px;
  }

   /* ESTILO DE LETRA PARA LAS DIAS  */
p {
    font-weight:bold;
    font-size: 150%;
   
  } 

  /* ESTILO DE LETRA PARA LAS PROFECCIONES */
  .example {
       
    font-style: oblique ;
    font-size: x-large;
    font-family: fantasy;
  } 
.locura{
  width: 400px;
  height: 200px;
  background-color: rgb(213, 206, 226);
  border: 5px solid #7c0ada;
  font: 20px sans-serif;
}

.footer { 
    height: 20%;}
    footer { background-image: linear-gradient( 25deg, #0c6e11,#71c2e7,#344cd6 );
    } 
.contenedor{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1px;
} 
 
 .cuadrados{
  width: auto;
  padding: 1px;
} 